body, html {
	background-color:#002653;
  height:100%;
}
h1, li, p, h3{
  color:#FFC61D;
  font: "courier";

}
xmp {
  color: FFC61D;
}

body:hover{
	color:red;
}
body {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
<style>
.container {
  padding: 1in 1in 1in 1in;
}
body {margin:0;}

.topnav {
overflow: hidden;
background-color: #FFC61D;
position: fixed;
width: 100%;
}

.topnav a {
float: left;
color: #002653;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
font-family: sans-serif;
}

.topnav a:hover {
background-color:#FFD700 ;
color: #002653;
}

.topnav a.active {
background-color:#DAA520 ;
color: #002653;
}
#odd{
    background-color:;
    color:white;
}

#even{
    background-color:;
    color:white;
}
td{
    padding: 20px;
    font-family: arial;
    font-size:10pt;
}

th{
    background-color:black;
    color:white;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
